<!DOCTYPE html>
<html>
  <head>
    <title>quizzy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <h1>Welcome to quizzy</h1>
      <br>
      <p>Click <a href="/signup">here</a> to sign-up.</p>
	  <p>Click <a href="/quiz/select">here</a> to go select a quiz.</p>
	  <p>Click <a href="/create/name">here</a> to create a quiz.</p>
      <p>Click <a href="/login">here</a> to login.</p>
    </div>
  </body>
</html>